.task_container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px; 
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.task_title{
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.buttons_container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.remove_task_button , .detail_task_button{
    background-color: #444;
    border: none;
    font-size: 24px;
    color: chartreuse;
    margin: 0 5px;
}



